ul#bottom li.headPhone>a {
  background-color: #f8f9fb;
  color: #181818;
  font-weight: 600;
  border-radius: 15px;
  width: 72px;
  height: 30px;
  padding: 5px 15px;
  margin: 8px 0;
}

#main {
  width: 100%;
  height: 38rem;
  background-image: url('https://cdn.imweb.me/thumbnail/20240930/da2041b29285c.png');
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#main .maintxt {
  position: absolute;
  width: 60%;
  height: 110px;
  left: 20%;
  bottom: 0;
  text-align: center;
  margin: 5rem 0;
  color: #fff;
}

#main .maintxt h1 {
  font-size: 60px;
  padding: 10px 0;
}

#main .maintxt p {
  font-size: 16px;
}

#headphone {
  width: 100%;
}

#headphone .new_product {
  width: 80rem;
  margin: 70px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

ul#nav_bar {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 0 0 51.2px;
}

ul#nav_bar li {
  border: 1px solid #e5e7eb;
  color: #212121;
  width: 33%;
  padding: .5rem 0;
  font-size: 14px;
  text-align: center;
}

ul#nav_bar li:nth-child(2) {
  border-left: none;
  border-right: none;
}

ul#nav_bar li.active {
  background-color: #212121;
  color: #fff;
}

ul#nav_bar li.active:hover {
  background-color: #fff;
  color: #212121;
}

#headphone .npd_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 70px;
}

#headphone div.box1,
#headphone div.box2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}

.new_product_detail {
  cursor: pointer;
}

.new_product_detail>img {
  display: inline-block;
}

.new_product_detail #product_color {
  width: 16rem;
  box-sizing: border-box;
  display: flex;
  padding: .3rem .1rem;
}

.new_product_detail #product_color span.product_color {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border: .1rem solid #99999960;
  margin-right: .2rem;
}

.new_product_detail>p {
  font-size: 13px;
  display: block;
  padding: 5px 0;
}

.new_product_detail h5 {
  font-size: 16px;
  padding: 5px 0;
}

.new_product_detail .single {
  font-size: 8px;
  background-color: #737882;
  color: #F8F9FB;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
}

.new_product_detail .single:hover {
  background-color: #181818;
}

.new_product_detail .new_product_detail_icon {
  display: flex;
  margin: 5px 0;
}

.new_product_detail .new_product_detail_icon span {
  display: inline-block;
  font-size: 18px;
  padding-right: 3px;
}

.new_product_detail .new_product_detail_icon p {
  font-size: 11px;
  line-height: 20px;
  padding-right: 10px;
}