@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", "Noto Sans KR";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#total {
  width: 100%;
}

#top {
  position: relative;
}

.main {
  width: 100%;
  height: 60rem;
  background-image: url(https://cdn.imweb.me/thumbnail/20240930/2a3226ee1b2f2.jpg);
  /* background-image: url(https://cdn.imweb.me/thumbnail/20230922/a2487574e834d.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main .main_txt {
  width: 60%;
  height: 20rem;
  position: absolute;
  left: 25%;
  bottom: 0;
  color: #fff;
}

.main .main_txt p {
  font-size: 18px;
  font-weight: 400;
}

.main .main_txt h1 {
  font-size: 36px;
  font-weight: 800;
  padding: 5px 0;
}

.main .main_txt h3 {
  font-size: 30px;
  font-weight: 400;
}

.main .main_txt button {
  border: 1px solid #fff;
  padding: 14px 55px;
  background-color: transparent;
  color: #fff;
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.main .main_txt button:hover {
  background-color: #fff;
  color: #999;
}

/*왜 BOSE온라인 스토어에서 구매?*/
#mid_info_bar {
  width: 100%;
  padding: 7.5rem 1.6rem;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mid_info_bar .mid_info_box {
  width: 80rem;
  display: flex;
  justify-content: space-around;
}

#mid_info_bar .mid_info {
  width: calc(25% - 2rem);
  height: 8rem;
  padding: 22px 0.6rem;
}

#mid_info_bar .mid_info h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

#mid_info_bar .info {
  width: calc(25% - 2rem);
  height: 8rem;
  padding: 22px 1.2rem;
  display: flex;
  justify-content: space-between;
  background-color: #737882;
  border-radius: 25px;
  border: transparent;
  text-align: left;
}

#mid_info_bar .info_left {
  color: rgb(255, 255, 255);
  line-height: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mid_info_bar .info_left h5 {
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 300;
}

#mid_info_bar .info_left span {
  font-size: 14px;
}

#mid_info_bar .info_right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

/*여기서부터 다시 시작*/
#mid_info_bar .info_right i {
  /*아이콘 변경 후 사이즈 재조정*/
  font-size: 1.5rem;
}

/*======================
.slider_wrap{
  width: 100%;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider_img{
  width: 100%;
  height: 45rem;
  overflow: hidden;
}
.slider_inner{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 45rem;
}
.slider{
  width: 100%;
  height: 45rem;
}
.slider img{
  width: 100%;
  height: 45rem;
  object-fit: cover;
  object-position: center bottom;
}
.slider_dot{
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 4rem;
  transform: translateX(-50%);
  justify-content: center;
}
.slider_dot .dot {
  width: .5rem;
  height: .5rem;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  border-radius: 50%;
  transition: all 0.3s;
  margin: .3rem;
}
.slider_dot .dot.active {
  background-color: #fff;
}
========================*/

#second_info {
  width: 100%;
  height: 45rem;
  background-image: url(https://cdn.imweb.me/thumbnail/20240625/9869ccb2941a2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#sec_info_txt {
  width: 60%;
  height: 20rem;
  position: absolute;
  left: 25%;
  bottom: 0;
  color: #fff;
}

#sec_info_txt h1.second_info_title {
  font-size: 36px;
  font-weight: 800;
  padding: 10px 0;
}

#sec_info_txt h3 {
  font-size: 20px;
  font-weight: 400;
}

#sec_info_txt button {
  border: 1px solid #fff;
  padding: 14px 55px;
  background-color: transparent;
  color: #fff;
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.3s;
}

#sec_info_txt button:hover {
  background-color: #fff;
  color: #999;
}

#second_info .dot {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.dot > li {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #737882;
  border-radius: 50%;
  margin: 0.3rem;
  cursor: pointer;
}

.dot > li.on,
.dot > li:hover {
  background-color: #fff;
}

#product {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#product #product_name {
  width: 100%;
  margin: 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product #product_name .product_name {
  width: 100%;
  max-width: 220px;
  margin: 0 .8rem;
  border: 0.5px solid #99999980;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

#product .product_name p {
  font-size: 14px;
  color: #999;
}

#product .product_name h3 {
  font-size: 20px;
  margin: 10px 0;
}

#product #new_product {
  width: 100%;
}

#product .new_product {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#product h2 {
  font-size: 36px;
  color: #181818;
  margin-bottom: 32px;
}

#product .npd_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.new_product .new_product_detail {
  max-width: 240px;
  min-width: 200px;
  box-sizing: border-box;
}
.new_product .new_product_detail:nth-child(1),
.new_product .new_product_detail:nth-child(2),
.new_product .new_product_detail:nth-child(3){
  margin-right: 16px;
}

.new_product .new_product_detail img {
  display: inline-block;
  width: 100%;
}

.new_product .new_product_detail #product_color {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0.3rem 0.1rem;
}

.new_product .new_product_detail #product_color span.product_color {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.1rem solid #99999960;
  margin-right: 0.2rem;
}

.new_product .new_product_detail p {
  font-size: 13px;
  display: block;
  padding: 5px 0;
}

.new_product .new_product_detail h5 {
  font-size: 16px;
  padding: 5px 0;
}

.new_product .new_product_detail .single {
  font-size: 8px;
  background-color: #737882;
  color: #f8f9fb;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
}

.new_product .new_product_detail .single:hover {
  background-color: #181818;
}

.new_product .new_product_detail .new_product_detail_icon {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.new_product .new_product_detail .new_product_detail_icon span {
  display: inline-block;
  font-size: 18px;
  padding-right: 3px;
}

.new_product .new_product_detail .new_product_detail_icon p {
  font-size: 11px;
  line-height: 20px;
  padding-right: 10px;
}

/*dot*/
#new_product ul.product_dot {
  display: inline-block;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  transform: all 0.1s ease;
}

#new_product ul.product_dot li {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #737882;
  border-radius: 50%;
  margin: 0.5rem;
}

#new_product ul.product_dot li:hover {
  background-color: #181818;
}

#new_product ul.product_dot li.on {
  background-color: #181818;
}

/* 호버 시, 이미지 변경
.new_product .new_product_detail img.img-hover{
  display: none;
}
.new_product .new_product_detail img.img:hover img.img{
  display: none;
}
.new_product .new_product_detail img.img:hover img.img-hover{
  display: block;
} */
/* #new_product .new_product .npd_box::after{
  content: "";
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background-color: #737882;
  position: absolute;
  bottom: 0; left: 50%;
} */

/*main2*/
.main2 {
  width: 100%;
  height: 60rem;
  background-image: url(https://cdn.imweb.me/thumbnail/20240223/de8ecf78ff7e0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
}

.main2 .main2_txt {
  width: 60%;
  height: 20rem;
  position: absolute;
  left: 25%;
  bottom: 0%;
  color: #ffffff;
  text-align: right;
}

.main2 .main2_txt p {
  font-size: 18px;
  font-weight: 400;
}

.main2 .main2_txt h1 {
  font-size: 36px;
  font-weight: 800;
  padding: 5px 0;
}

.main2 .main2_txt h3 {
  font-size: 30px;
  font-weight: 400;
}

.main2 .main2_txt button {
  border: 1px solid #fff;
  padding: 14px 55px;
  background-color: transparent;
  color: #fff;
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.main2 .main2_txt button:hover {
  background-color: #fff;
  color: #999;
}

/*footer*/
#footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .footer_top {
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#footer .footer_top ul.ft_top {
  display: flex;
  font-weight: bold;
  font-size: 13px;
}

#footer .footer_top ul.ft_top li {
  width: 25%;
  text-align: center;
}

#footer .footer_top span {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 15px 0;
}

#footer .footer_top .ft_bottom {
  display: flex;
  font-size: 12px;
  width: 100%;
  justify-content: center;
}

#footer .footer_top .ft_bottom ul {
  width: 25%;
  text-align: center;
}

#footer .footer_top .ft_bottom ul li {
  padding: 5px 0;
}

#footer .footer_mid {
  width: 100%;
  height: 3rem;
  background-color: #282828;
  padding: 0 20%;
  display: flex;
  align-items: center;
}

#footer .footer_mid ul {
  display: flex;
  justify-content: start;
  align-items: center;
}

#footer .footer_mid ul li {
  padding: 0 10px;
}

.footer_bottom {
  width: 100%;
  padding: 50px 10%;
  display: flex;
  align-items: center;
}

.footer_bottom .fb_logo {
  width: 20%;
  margin: 0 4rem 0 2rem;
}

.footer_bottom .fb_logo img {
  display: inline-block;
  width: 90%;
}

.footer_bottom .text_table {
  width: 80%;
}

.footer_bottom .text_table p.firstp span {
  height: 1px;
  width: 100%;
  display: inline-block;
  background-color: #fff;
}

.footer_bottom .text_table .innerdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.footer_bottom .text_table .innerdiv .rightp {
  display: flex;
}

.footer_bottom .text_table .innerdiv .rightp p {
  display: inline-block;
  margin: 0 1px;
  line-height: 25px;
}

@media screen and (max-width: 1024px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: #181818;
    color: #fafafa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    padding: 30px;
  }

  #mid_info_bar .mid_info_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #mid_info_bar .mid_info {
    width: 100%;
    height: 8rem;
    padding: 22px 0.6rem;
  }

  #mid_info_bar .info {
    width: calc(33% - 2rem);
    height: 8rem;
    padding: 22px 1.2rem;
    display: flex;
    justify-content: space-between;
    background-color: #737882;
    border-radius: 25px;
    border: transparent;
    text-align: left;
  }

  #product #product_name .product_name {
    width: 16rem;
    margin: 0 1rem;
    border: 0.5px solid #99999980;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
  }




  #product .product_name p {
    font-size: 13px;
    color: #999;
  }

  #product .product_name h3 {
    font-size: 18px;
    margin: 10px 0;
  }

  #product h2 {
    font-size: 25px;
    color: #181818;
    margin: 10px 0;
  }

  .new_product .new_product_detail h5 {
    font-size: 14px;
    padding: 5px 0;
  }

  .footer_bottom .fb_logo {
    width: 20%;
    margin: 0 2rem 0 2rem;
  }

  .footer_bottom .text_table .innerdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #181818;
    color: #fafafa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    padding: 30px;
  }

  .main .main_txt {
    width: 60%;
    height: 20rem;
    position: absolute;
    left: 20%;
    bottom: 0;
    color: #fff;
  }

  .main .main_txt h1 {
    font-size: 25px;
    font-weight: 800;
    padding: 5px 0;
  }

  .main .main_txt h3 {
    font-size: 15px;
    font-weight: 400;
  }

  #sec_info_txt h1.second_info_title {
    font-size: 25px;
    font-weight: 800;
    padding: 10px 0;
  }

  #sec_info_txt h3 {
    font-size: 15px;
    font-weight: 400;
  }

  #product #product_name .product_name {
    width: 18.6rem;
    margin: 0 1rem;
    border: 0.5px solid #99999980;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
  }

  #product .product_name p {
    font-size: 12px;
    color: #999;
  }

  #product .product_name h3 {
    font-size: 13px;
    margin: 10px 0;
  }

  #mid_info_bar {
    width: 100%;
    padding: 5rem 1.6rem;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mid_info_bar .mid_info_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #mid_info_bar .mid_info {
    width: 100%;
    height: 8rem;
    padding: 22px 0.6rem;
  }

  #mid_info_bar .info {
    width: 80%;
    height: 8rem;
    padding: 22px 1.2rem;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    background-color: #737882;
    border-radius: 25px;
    border: transparent;
    text-align: left;
  }

  #sec_info_txt {
    width: 60%;
    height: 20rem;
    position: absolute;
    left: 20%;
    bottom: 0;
    color: #fff;
  }

  #product #product_name {
    display: none;
  }

  .main2 .main2_txt h1 {
    font-size: 25px;
    font-weight: 800;
    padding: 5px 0;
  }

  .main2 .main2_txt h3 {
    font-size: 15px;
    font-weight: 400;
  }

  .footer_bottom {
    width: 100%;
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_bottom .fb_logo {
    width: 30%;
    margin: 0 0 10px 0;
  }

  .footer_bottom .text_table {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {

  .main {
    width: 100%;
    height: 30rem;
    background-image: url(https://cdn.imweb.me/thumbnail/20240930/2a3226ee1b2f2.jpg);
    /* background-image: url(https://cdn.imweb.me/thumbnail/20230922/a2487574e834d.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#second_info {
  width: 100%;
  height: 30rem;
  background-image: url(https://cdn.imweb.me/thumbnail/20240625/9869ccb2941a2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main2 {
  width: 100%;
  height: 30rem;
  background-image: url(https://cdn.imweb.me/thumbnail/20240223/de8ecf78ff7e0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
}

  .footer_bottom .text_table .innerdiv {
    font-size: 8px;
  }
}
