@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box; font-family: "Montserrat","Noto Sans KR";}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}

#total{
  width: 100%;
}

.header{
  width: 100%;
  background-color: #181818;
}
.header .top{
  width: 100%;
}
.header nav.top{
  padding: 0 25px;
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*좌측 토글(nav) 버튼*/
header .top .menu-toggle-btn{
  cursor: pointer;
  display: block;
  width: 23px;
  height: 26px;
}
header .top .menu-toggle-btn > span{
  display: block;
  height: 2px;
  border-radius: 10px;
  background-color: #F8F9FB;
}
header .top .menu-toggle-btn > span:nth-child(2){
  margin: 6px 0;
}

/*로고*/
header .top .logo{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header .top .logo img{
  width: 170px;
}

/*상단 바 우측 버튼*/
header .top .menu-btn{
  display: flex;
  color: #F8F9FB;
  cursor: pointer;
}
header .top .menu-btn li{
  padding-left: 10px;
}

/* nav하단 bar */
#total ul#bottom{
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  color: #F8F9FB;
}
#total ul#bottom > li{
  width: 100%;
  height: 46px;
  position: relative;
}
#total ul#bottom > li a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
}
#total ul#bottom a:hover{
  color: #999;
}

/*다운nav*/
#total ul#bottom li ul.dropdown{
  position: absolute;
  transition: max-height .5s;
  max-height: 0px;
  overflow: hidden;
}
#total ul#bottom li ul.dropdown a:hover{
  background-color: #F8F9FB;
}

/* #total #bottom{
  margin: 0 auto;
  width: 40%;
  height: 43px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  color: #e5e7eb;
  cursor: pointer;
}
#total #bottom a{
  padding: 10px;
  display: block;
}
#total #bottom a:hover{
  color: #999;
} */
/*다운nav*/
/* #total #bottom{
  position: relative;
}
.dropdown{
  position: absolute;
  padding: 10px 0;
  background-color: #F8F9FB;
  max-height: 0px;
  transition: max-height .5s;
  overflow: hidden;
}
.dropdown li a {
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #181818;
  display: block;
} */




.main{
  width: 100%;
  height: 60rem;
  background-image: url(https://cdn.imweb.me/thumbnail/20240930/2a3226ee1b2f2.jpg);
  /* background-image: url(https://cdn.imweb.me/thumbnail/20230922/a2487574e834d.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main .main_txt{
  width: 60%;
  height: 20rem;
  position: absolute;
  left: 25%;
  bottom: 0;
  color: #fff;
}
.main .main_txt p{
  font-size: 18px;
  font-weight: 400;
}
.main .main_txt h1{
  font-size: 36px;
  font-weight: 800;
  padding: 5px 0;
}
.main .main_txt h3{
  font-size: 30px;
  font-weight: 400;
}
.main .main_txt button{
  border: 1px solid #fff;
  padding: 14px 55px;
  background-color: transparent;
  color: #fff;
  margin: 15px 0;
  cursor: pointer;
  transition: all .3s;
}
.main .main_txt button:hover{
  background-color: #fff;
  color: #999;
}



/*왜 BOSE온라인 스토어에서 구매?*/
#mid_info_bar{
  width: 100%;
  height: 15rem;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mid_info_bar .mid_info_box{
  width: 80rem;
  height: 139.965px;
  display: flex;
  justify-content: space-around;
}
#mid_info_bar .mid_info{
  width: 18.6rem;
  height: 8rem;
  padding: 22px 15px;
}
#mid_info_bar .mid_info h3{
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
#mid_info_bar .info{
  /* width: 297.5px;
  height: 139.97px; */
  width: 18.6rem;
  height: 8rem;
  padding: 22px 25px;
  display: flex;
  justify-content: space-between;
  background-color: #737882;
  border-radius: 25px;
  border: transparent;
  text-align: left;
}
#mid_info_bar .info_left{
  color: rgb(255,255,255);
  line-height: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#mid_info_bar .info_left h5{
  font-size: 18px;
  font-weight: 300;
}
#mid_info_bar .info_left span{
  font-size: 14px;
}
#mid_info_bar .info_right{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

/*여기서부터 다시 시작*/
#mic_info_bar .info_right i{
  /*아이콘 변경 후 사이즈 재조정*/
  font-size: 50px;
}



#product{
  width: 90rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#product #product_name{
  padding: 70px 50px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
}
#product #product_name .product_name{
  width: 20%;
  margin: 0 1rem;
  border: 0.5px solid #99999980;
  border-radius: 2rem;
  padding: 50px;
  text-align: center;
  cursor: pointer;
}
#product .product_name p{
  font-size: 14px;
  color: #999;
}
#product .product_name h3{
  font-size: 20px;
  margin: 10px 0;
}

#product .new_product{
  width: 90rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}
#product h2{
  font-size: 36px;
  color: #181818;
  margin: 10px 0;
}
#product .npd_box{
  width: 90%;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.new_product .new_product_detail{
  width: 20%;
  cursor: pointer;
}
.new_product .new_product_detail img{
  width: 18rem;
}
.new_product .new_product_detail img{
  background-image: url(/img/);
}
.new_product .new_product_detail>p{
  font-size: 13px;
  display: block;
  padding: 5px 0;
}
.new_product .new_product_detail h5{
  font-size: 16px;
  padding: 5px 0;
}
.new_product .new_product_detail .single{
  font-size: 8px;
  background-color: #737882;
  color: #F8F9FB;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
}
.new_product .new_product_detail .single:hover{
  background-color: #181818;
}
.new_product .new_product_detail .new_product_detail_icon{
  display: flex;
  margin: 5px 0;
}
.new_product .new_product_detail .new_product_detail_icon span{
  display: inline-block;
  font-size: 18px;
  padding-right: 3px;
}
.new_product .new_product_detail .new_product_detail_icon p{
  font-size: 11px;
  line-height: 20px;
  padding-right: 10px;
}


/*main2*/
.main2{
  width: 100%;
  height: 60rem;
  background-image: url(https://cdn.imweb.me/thumbnail/20230922/a2487574e834d.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main2 .main2_txt{
  width: 60%;
  height: 20rem;
  position: absolute;
  left: 25%;
  bottom: 0%;
  color: #ffffff;
  text-align: right;
}
.main2 .main2_txt p{
  font-size: 18px;
  font-weight: 400;
}
.main2 .main2_txt h1{
  font-size: 36px;
  font-weight: 800;
  padding: 5px 0;
}
.main2 .main2_txt h3{
  font-size: 30px;
  font-weight: 400;
}
.main2 .main2_txt button{
  border: 1px solid #fff;
  padding: 14px 55px;
  background-color: transparent;
  color: #fff;
  margin: 15px 0;
  cursor: pointer;
  transition: all .3s;
}
.main2 .main2_txt button:hover{
  background-color: #fff;
  color: #999;
}

/*footer*/


