:root{
  --bg-b-color: #100A14;
  --text-w-color: ;


  --font-title: ;
}

*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}

#main{
  width: 1920px;
  height: auto;
  font-family: 'Inter';
}

header{
  width: 100%;
  height: 67px;
  margin: auto;
  background-color: var(--bg-b-color);
  display: flex;
  align-items: center;
}
.icon{
  display: flex;
}


.bg{
  background-image: url(../img/background.png);
  background: url(../img/background.png) cover center;
}